@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #72c6ef, #004e8f);
    --home-gradient: linear-gradient(137deg, rgba(7, 14, 21, 1) 21%, rgba(0, 78, 143, 1) 100%);
    --text-gradient: linear-gradient(to bottom right, #72c6ef 25%, #004e8f 100%);

    --background: 212 52% 5.52%;
    --foreground: 212 8% 98.45%;

    --muted: 212 40% 20.7%;
    --muted-foreground: 212 8% 56.9%;

    --popover: 212 49% 8.97%;
    --popover-foreground: 212 8% 98.45%;

    --card: 212 49% 8.97%;
    --card-foreground: 212 8% 98.45%;

    --border: 212 40% 20.7%;
    --input: 212 40% 20.7%;

    --primary: 212 80% 69%;
    --primary-foreground: 212 8% 6.9%;

    --secondary: 212 40% 20.7%;
    --secondary-foreground: 212 8% 98.45%;

    --accent: 212 40% 20.7%;
    --accent-foreground: 212 8% 98.45%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 212 8% 98.45%;

    --ring: 212 80% 69%;

    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .bg-gradient {
    background: var(--gradient);
  }

  .bg-home-gradient {
    background: var(--home-gradient);
  }

  .text-gradient {
    background: var(--text-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
